.banner {
  margin-bottom: 80px;
  .row {
    padding: 0;
    .banner-category {
      ul {
        padding-top: 40px;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
.banner-category {
  border-right: 1px solid #ccc;
  ul {
    li {
      transition: color 0.5s ease-in-out;

      a {
        transition: color 0.5s ease-in-out;
      }
      a:hover {
        color: #ff7b29;
      }
    }
    li:hover {
      color: #ff7b29;
    }
  }
  .ct-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.5s ease-in-out;

    i {
      font-size: 22px;
    }
  }
  .ct-li:hover {
    color: #ff7b29;
  }
}
.banner-main {
  padding-top: 40px;
}
.banner-slider {
  background-color: #ff7b29;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  button {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    border: none;
    background: none;
  }
  a {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: calc(1.2);
      }
    }
  }
}
